body {
  font-family: "Vesper Libre", serif;
  color: #1a1a1a;
  line-height:1.5;
  margin: 0;
}

header, footer{
  background-color: #000;
  color: #fff;
  text-align: center;
}

img {
  width: 100%;
}

#logo {
  width: 100px;
  padding-top: 8px;
}
main {
  padding: 20px;
}

h1 {
  font-size:2rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family:  "Vesper Libre", serif;
}


.news {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85rem;
  border-bottom:2px solid #ff3530;
  

}

.articlesection {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.authordate {
font-size: .85rem;
/* margin-bottom: 0; */
}

.authordate p, time {
  margin-bottom: 0;
}

figure {
  margin-top:  1.25em;
  margin-bottom:  1.25em;
}

figcaption {
 font-size: .75rem;
 text-align: center;
 color: #757575;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a:link {
  color: #1a1a1a;
  text-decoration:underline;
}

a:visited {
  color: #1a1a1a;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #ff3530;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size:1.5rem;
}

